* {
  margin: 0;
  padding: 0;
  border: 0;
  font-family: 'Courier New',Courier,monospace;
}

body {
  background: #FFF;
  font: 13px sans-serif;
  margin: 10px;
  color: black;
}

body{
  text-align: center;
}

h1 {
  margin: 40px;
  font-size: 80px;
}
#grid-content {
  margin: 0 auto;
  text-align: left;
  overflow: hidden;
  height: 0;
  /*max-width: 1000px !important;*/
}

#grid-content > div {
  width: 320px;
  height: 320px;
  /*border: 1px solid #DDDDDD;*/
  margin: 5px;
  text-align: center;
  display: table;
}

.logo-image{
  display: table-cell;
  vertical-align: middle;
}

.logo {
  width: 200px;
  height: 200px;
}
